textarea {
  color: rgba(0, 0, 0, 0.87);
  background-color: #FEFEFE;
  outline: none;
  border: 1px solid #9e9e9e;
  height: auto;
  transition: .3s;
  font-size: 1rem;
  resize: vertical;
  padding: 5px;
}
textarea:focus {
  border-color: #26a69a;
}

select {
  color: rgba(0, 0, 0, 0.87);
  background-color: #FEFEFE;
}

.template {
  display: none;
}
table .btn, 
table .btn-flat {
  margin-bottom: 0;
}

.settings .settings-kv tr {
  border-bottom: 0;
}
.th-delete {
  width: 37px;
}
.td-icon {
  width: 37px;
}
.th-templateSelect {
  min-width: 180px;
}
.btn-flat.btn-icon {
  padding-left: 12px;
  padding-right: 12px;
}

tr.deleting {
  -webkit-animation: delete .8s ease;
}

.tr-added {
  -webkit-animation: added .8s ease;
}

@-webkit-keyframes delete {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotateX(360deg);
  }
}

@-webkit-keyframes added {
  0% {
    transform: rotateX(360deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}