body {
  color: #333;
  font-size: 14px;
  margin: 0;
}

.menu {
  width: 450px;
}
.menu--labels {
  width: 130px;
}
.menu--labelSelect {
  background-color: #fff;
  width: 130px;
  height: 30px;
}
.menu--link {
  width: 95px;
}
.menu--btn {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0;
  text-transform: none;
  text-space: 0;
}
.menu--item-template {
  display: none;
}
